/* Header */
.header{
    display: block;
    background-color: darkblue;
    width: 100%;
    border-bottom: 1px solid black;
}

/* header text classes */
.myName{
    font-weight: bold;
    font-size: 46;
    color:blanchedalmond;
}

.purpose{
    font-size: 26;
    color: blanchedalmond;
}

/* navigation bar*/
.nav{
    position: sticky;
    background-color: chartreuse;
    width: 100%;
    border: 1px solid black;
    margin-top: 50px;
}